#detailMovie {
  margin: auto;
  width: 90%;
  display: flex;
}

#detailMovie #poster #posterImg {
  height: 90%;
  margin-top: 30px;
}
#detailMovie #information {
  margin: 30px;
}

#information iframe {
  width: 100%;
  height: 300px;
}

#poster img {
  width: 400px;
}

#review {
  width: 90%;
  display: flex;
  margin: auto;
}

#review #create {
  width: 22.5%;
}

#review #list {
  width: 77.5%;
  margin: 0 30px;
}
