@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: url("./../src/styles/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("./styles/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("./styles/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url("./styles/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 1000;
  font-display: fallback;
  src: url("./styles/fonts/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: lighter;
  src: url("./styles/fonts/Pretendard-Thin.woff2") format("woff2");
}
