.nowMovie {
  width: 200px;
}

.nowMovie #movie {
  list-style: none;
}
.nowMovie #poster {
  width: 200px;
}

.DetailMovie {
  display: flex;
  height: 700px;
}

.DetailMovie .poster {
  width: 20%;
}
.DetailMovie #poster {
  width: 100%;
  height: 100%;
}

.DetailMovie .explanation {
  width: 60%;
  margin-left: 20px;
}

.DetailMovie .explanation #voteGenres #genres {
  display: flex;
}

.DetailMovie .explanation #voteGenres #genres #genre {
  margin-left: 10px;
}

.DetailMovie #Home {
  background-color: transparent;
  border: 0;
  font-size: 20px;
}
