nav {
  padding: 10px;
  display: flex;
  background-color: rgba(128, 128, 128, 0.299);
}
#nav {
  width: 80%;
}
#nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

#nav ul li {
  margin: 0px 10%;
  text-decoration: none;
  color: white;
}

#user {
  width: 25%;
}
#user ul {
  list-style: none;
  display: flex;
  padding: 0;
}
#user ul li {
  margin: 0px 10%;
}
